@{
    ViewData["Title"] = "Dashboard";
}

<main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4 mb-2">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            @*<li class="breadcrumb-item active">Dashboard</li>*@
                        </ol>

                        <section class="hero bg-cover bg-center" id="hero">
                            <img src="~/assets/img/background.jpg" class="hero" />
                        </section>


                        <div class="row card-img">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-header">Courses</div>
                                    <div class="card-body"><img src="~/assets/img/schoolbell.png" /></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("Index", "Courses")">More Info</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-header">Scheduled Classes</div>
                                    <div class="card-body"><img src="~/assets/img/class.png" /></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("Index", "ScheduledClasses")">More Info</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-header">Students</div>
                                    <div class="card-body"><img src="~/assets/img/student.png" /></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("Index", "Students")">More Info</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-header">Enrollments</div>
                                    <div class="card-body"><img src="~/assets/img/enrollment.png" /></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("Index", "Enrollments")">More Info</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </main>
